In [63]:
import pandas as pd
import matplotlib.pyplot as plt
from soccerplots.radar_chart import Radar

In [64]:
#df = pd.read_csv(r'C:\Users\braisc\OneDrive - Leidos-LeidosCorpUS\Documents\Python Scripts\Datasets\EPLShootingStats_20-21.csv')
df = pd.read_csv('EPLShootingStats.csv')
df['Nation'] = df['Nation'].str.split(' ',expand=True)[1]
df = df[df['90s'] > 0]              #remove players who haven't played a single game
df = df[df['Pos'] == 'FW']          #select forwards
df = df.fillna(0)                   #replace NaN with zeros
df.head(15)

,Unnamed: 0,Player,Nation,Pos,Squad,Age,Born,90s,Gls,Sh,...,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches,-9999\
1,2,Che Adams,SCO,FW,Southampton,26-066,1996.0,5.1,2.0,11.0,...,0.0,0.0,0.0,1.1,1.1,0.10,0.9,0.9,Matches,f2bf1b0f\
10,11,Miguel Almir\'f3n,PAR,FW,Newcastle Utd,28-219,1994.0,5.4,1.0,11.0,...,0.0,0.0,0.0,1.1,1.1,0.10,-0.1,-0.1,Matches,862a1c15\
11,12,Juli\'e1n \'c1lvarez,ARG,FW,Manchester City,22-229,2000.0,1.7,2.0,6.0,...,0.0,0.0,0.0,0.7,0.7,0.12,1.3,1.3,Matches,15ab5a2b\
16,17,Michail Antonio,JAM,FW,West Ham,32-173,1990.0,4.3,1.0,6.0,...,0.0,0.0,0.0,0.8,0.8,0.13,0.2,0.2,Matches,ac05f970\
17,18,Antony,BRA,FW,Manchester Utd,22-205,2000.0,0.6,1.0,3.0,...,0.0,0.0,0.0,0.3,0.3,0.09,0.7,0.7,Matches,99127249\
23,24,Taiwo Awoniyi,NGA,FW,Nott'ham Forest,25-036,1997.0,3.3,2.0,8.0,...,0.0,0.0,0.0,1.5,1.5,0.18,0.5,0.5,Matches,e5478b87\
29,30,Patrick Bamford,ENG,FW,Leeds United,29-012,1993.0,1.9,0.0,7.0,...,0.0,0.0,0.0,1.5,1.5,0.22,-1.5,-1.5,Matches,93feac6e\
45,46,Jarrod Bowen,ENG,FW,West Ham,25-271,1996.0,5.9,0.0,11.0,...,0.0,0.0,0.0,0.9,0.9,0.08,-0.9,-0.9,Matches,79c84d1c\
46,47,Armando Broja,ALB,FW,Chelsea,21-007,2001.0,0.8,0.0,3.0,...,0.0,0.0,0.0,0.4,0.4,0.12,-0.4,-0.4,Matches,97220da2\
52,53,Chem Campbell,WAL,FW,Wolves,19-261,2002.0,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,Matches,6f711f67\
73,74,Maxwel Cornet,CIV,FW,West Ham,25-355,1996.0,0.3,0.0,1.0,...,0.0,0.0,0.0,0.3,0.3,0.32,-0.3,-0.3,Matches,beb391dd\
79,80,Patson Daka,ZAM,FW,Leicester City,23-343,1998.0,1.8,1.0,4.0,...,0.0,0.0,0.0,0.6,0.6,0.16,0.4,0.4,Matches,ca45605e\
88,89,Emmanuel Dennis,NGA,FW,Nott'ham Forest,24-306,1997.0,0.7,0.0,5.0,...,2.0,0.0,0.0,0.2,0.2,0.05,-0.2,-0.2,Matches,2c44a35d\
93,94,Luis D\'edaz,COL,FW,Liverpool,25-247,1997.0,5.9,3.0,17.0,...,0.0,0.0,0.0,2.1,2.1,0.12,0.9,0.9,Matches,4a1a9578\
106,107,Malcolm Ebiowei,ENG,FW,Crystal Palace,19-013,2003.0,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,Matches,fa9fa773\

In [65]:
#get statistics
df_stats = df.describe()
df_stats = df_stats.drop(['Born', '90s', 'SoT', 'FK', 'PK', 'PKatt'],axis=1)
df_mean = df_stats[df_stats.index == 'mean']

#write mean to a list to plot later
c_values = df_mean.values.tolist()

In [66]:
#get players
print("Enter player 1: ")
player_1 = input()
print(player_1)

print("Enter player 2: ")
player_2 = input()
print(player_2)

Enter player 1:
Harry Kane
Harry Kane
Enter player 2:
Mohamed Salah
Mohamed Salah

In [67]:
#create df subset an
df_1 = df[df['Player'] == player_1]
df_2 = df[df['Player'] == player_2]

df = pd.concat([df_1,df_2]).reset_index()
df_copy = df
df = pd.concat([df,df_stats[df_stats.index == 'mean'], 
               df_stats[df_stats.index == 'min'], df_stats[df_stats.index == 'max']])
df

,index,Unnamed: 0,Player,Nation,Pos,Squad,Age,Born,90s,Gls,...,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches,-9999\
0,190.0,191,Harry Kane,ENG,FW,Tottenham,29-051,1993.0,5.9,5.000000,...,0.0,0.0,1.0,4.400000,3.600000,0.160000,0.600000,1.400000,Matches,21a66f6a\
1,327.0,328,Mohamed Salah,EGY,FW,Liverpool,30-094,1992.0,6.0,2.000000,...,0.0,0.0,0.0,2.500000,2.500000,0.150000,-0.500000,-0.500000,Matches,e342ad68\
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.014286,...,NaN,NaN,NaN,1.041429,0.984286,0.121714,-0.027143,-0.012857,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,-1.500000,-1.500000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,...,NaN,NaN,NaN,7.300000,6.500000,0.430000,2.700000,2.500000,NaN,NaN

In [68]:
#clean up df by removing uneccesary columns (data and strings)
df = df.drop(['index', 'Unnamed: 0', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'SoT', 'FK', 'PK', 'PKatt', 'Matches', '-9999\\'],axis=1)
df

,Player,Gls,Sh,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Harry Kane,5.000000,22.000000,45.50,3.760,1.710000,0.230000,0.500000,18.40,4.400000,3.600000,0.160000,0.600000,1.400000
1,Mohamed Salah,2.000000,17.000000,29.40,2.830,0.830000,0.120000,0.400000,13.00,2.500000,2.500000,0.150000,-0.500000,-0.500000
mean,NaN,1.014286,7.442857,30.02,2.687,0.848571,0.088857,0.219286,12.81,1.041429,0.984286,0.121714,-0.027143,-0.012857
min,NaN,0.000000,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,-1.500000,-1.500000
max,NaN,10.000000,29.000000,100.00,16.360,3.700000,0.500000,1.000000,27.40,7.300000,6.500000,0.430000,2.700000,2.500000

In [69]:
#get parameters
params = list(df.columns)
params = params[1:]
params

['Gls',
 'Sh',
 'SoT%',
 'Sh/90',
 'SoT/90',
 'G/Sh',
 'G/SoT',
 'Dist',
 'xG',
 'npxG',
 'npxG/Sh',
 'G-xG',
 'np:G-xG']

In [70]:
#add values to lst of tuple pairs
ranges = []
a_values = []
b_values = []

for x in params:
    a = min(df[params][x])
    #a = a - (a * 0.25)

    b = max(df[params][x])
    #b = b + (b * 0.25)

    #c = max(df[params][x])
    #c = c + (c * 0.25)
    
    ranges.append((a, b))

for x in range(len(df['Player'])):
    if df['Player'][x] == player_1:
        a_values = df.iloc[x].values.tolist()
    if df['Player'][x] == player_2:
        b_values = df.iloc[x].values.tolist()

a_values = a_values[1:]
b_values = b_values[1:]
#c_values = c_values[1:]

values = [a_values,b_values]

KeyError: 2

In [ ]:
values

In [ ]:
player_1_team = df_copy.loc[0,'Squad']
player_2_team = df_copy.loc[1,'Squad']

player_1_games = str(round(df_copy.loc[0,'90s']))
player_2_games = str(round(df_copy.loc[1,'90s']))

title = dict(
    title_name = player_1,
    title_color = 'red',
    subtitle_name = f'{player_1_team} - {player_1_games} matches',
    subtitle_color = 'red',
    title_name_2 = player_2,
    title_color_2 = 'blue',
    subtitle_name_2 = f'{player_2_team} - {player_2_games} matches',
    subtitle_color_2 = 'blue',
    title_fontsize = 18,
    subtitle_fontsize = 15,
)

endnote = 'Christopher Brais - Data from Statsbomb/FBRef'

In [ ]:
radar = Radar()

fig,ax = radar.plot_radar(ranges=ranges, params=params,values=values,radar_color=['red', 'blue'], alphas=[0.75,0.25], title=title,endnote=endnote, compare=True)

In [ ]:
df_mean

In [ ]:
df

In [ ]:
df_trial = pd.concat([df,df_mean,df_stats[df_stats.index == 'max'],df_stats[df_stats.index == 'min']])
df_trial

In [ ]:
df_stats